{% extends 'base.html' %}


{% block content %}
<div class="mb-3">

    {% if family %}
        <div class="">
            <div class="">
                <h3 class="mb-0">{{family.name}}</h3>
            </div>
            <div class="">
                <p>Код для приглашения: <i>{{family.uuid}}</i></p>
            </div>
        </div>
        <hr>
        <h5 class="font-weight-light">Состав</h5>
        <ul>
        {% for user in family.users.all %}
            {% if user == request.user %}
                <li class="li-none">Вы</li>
            {% else %}
                <li class="li-none">{{user}}<a href="#" class="text-danger"><span aria-hidden="true">&times;</span></a></li>
            {% endif %}
        {% endfor %}
        </ul>

        <div class="d-flex justify-content-end">
            {% if request.user == family.author%}
                <a href="#" class="ml-1 text-danger">Удалить</a>
            {% else %}
                <a href="#" class="">Покинуть</a>
            {% endif %}

        </div>

    {% else %}
        <h3 class="text-muted">Вы не состоите в семье</h3>
        <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Создать или вступить
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form method="post" class="">
                  {% csrf_token %}
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Создать</span>
                      </div>
                      <input type="text" name="name" placeholder="Название" class="form-control form-control-sm w-50" required>
                      <div class="input-group-append ">
                          <input type="submit" class="btn btn-sm btn-outline-success">
                      </div>
                    </div>
              </form>
              <form method="post" class="mt-1">
                  {% csrf_token %}
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Вступить</span>
                      </div>
                      <input type="text" name="uuid" placeholder="Код для приглашения" class="form-control form-control-sm" required>
                      <div class="input-group-append">
                          <input type="submit" class="btn btn-sm btn-outline-success">
                      </div>
                    </div>
              </form>
            </div>
        </div>
    {% endif %}









    <div class="d-flex">
        <span class="display-4 {% if total > 0%}text-success{% elif total < 0%}text-danger{% endif %} my-3">{{total|floatformat:2}}</span>
    </div>

    {% if not operations %}
        <hr>
        <h3 class="font-weight-light">Операции за выбранный месяц отсутствуют</h3>
    {% endif %}

    {% for operation in operations %}
        {% ifchanged operation.date %}
            <h5 class="bg-info p-2 text-dark my-2">{{operation.date}}</h5>
        {% endifchanged %}
        {% include 'budget/include/cart_operation_family.html' %}
    {% endfor %}
</div>
{% endblock content %}